<p>
  To reset your password, please click below to go to RedBricks.
</p>
<p>
  <a href="{{ domain }}{{ path('auth.reset', {id: id, token: token}) }}">{{ domain }}{{ path('auth.reset', {id: id, token: token}) }}</a>
</p>