{% extends "@user/layout.twig" %}

{% block title %}
    {% trans %}
        Manage rewards
    {% endtrans %}
{% endblock %}

{% block body %}

    <p class= "text-right">
        <a href="{{ path('shop.rewards.allContributors',  {projectId:game.id}) }}" class="btn btn-primary">
            {% trans %}View all subscribers{% endtrans %}
        </a>
        <a href="{{ path('shop.rewards' ~ '.create',  {projectId:game.id}) }}" class="btn btn-primary">
            {% trans %}Add a reward{% endtrans %}
        </a>
    </p>

    <table class="table table-striped">
        <thead>
            <tr>
                <td>{% trans "Title" %}</td>
                <td>{% trans "Price" %}</td>
                <td>{% trans "Contributor limit" %}</td>
                <td>{% trans "Number of contributor" %}</td>
                <td>{% trans "Actions" %}</td>
            </tr>
        </thead>
        <tbody>
            {% set token_input = csrf_input() %}	
            {% for reward in rewards %}

                <tr>
                    <td>
                        {{ reward.title }}
                    </td>
                    <td>
                        {{ reward.amount }}€
                    </td>
                    <td>
                        {{ reward.contributorsMax | default('unlimited') }}
                    </td>
                    <td>
                        {{ reward.contributorsNb }}
                        <a href="{{ path('shop.rewards.contributors', {projectId: game.id, rewardId:reward.id}) }}" class="ml-2"><i class="fas fa-eye"></i></a>

                    </td>
                    <td>
                        <a href="{{  path( 'shop.rewards' ~ '.edit', {projectId:game.id, id:reward.id}) }}" class="btn btn-primary">{% trans "Edit" %}</a>
                    </td>
                    <td>
                        {% if reward.contributorsNb == 0 %}
                            <button  class="btn btn-danger" data-toggle="modal" data-target="#confirmation[{{ reward.id }}]">{% trans "Delete" %}</button >
                            <div class="modal fade" id="confirmation[{{ reward.id }}]" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            {% set title = reward.title %}
                                            <h4 class="modal-title">{% trans %}Delete {{ title }}?{% endtrans %}</h4>
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        </div>
                                        <div class="modal-body">
                                            <form style="display: inline;" action="{{  path('shop.rewards' ~ '.delete', {projectId:game.id, id:reward.id}) }}" method="POST" >
                                                <input type="hidden" name="_method" value="DELETE">
                                                <button class="btn btn-danger">{% trans "Confirm" %}</button>
                                                {{ token_input | raw  }}
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </td>
                </tr>

            {% endfor %}
        </tbody>
    </table>

{% endblock %}