{% extends 'layout.twig' %}

{% block body %}

    <h1 class="text-center">{% trans %}Start project{% endtrans %}</h1>

    <div class="text-center m-5">

        <a href="{{ path(routePrefix ~ '.create') }}" class="btn btn-primary">
            {% trans %}Create a project!{% endtrans %}
        </a>
    </div>

{% endblock %}