{% extends current_user().role == "admin" ? "@admin/layout.twig" : "@user/layout.twig" %}

{% block title %}
    {% trans %}
        Add a survey - RedBricks
    {% endtrans %}
{% endblock %}

{% block body %}

    <h1 class="text-center">{% trans %}Add a survey{% endtrans %}</h1>

    <form action= "{{ path('surveys' ~ '.create', {projectId: item.projectId}) }}" method="post" enctype="multipart/form-data">
        {{ csrf_input() }}
        {{ field("projectId", item.projectId, null, {type:'hidden'}) }}

        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="form-inline">
                    <label for="nbFields" class="ml-auto">{% trans "Add" %} </label>
                    <input type="number" class="form-control mx-2" id="nbFields" name="nbFields" value="1" step="1" max="6" min="1" style="width: 4em;"> 
                    {% trans %}proposal field(s){% endtrans %}
                    <button class="btn btn-primary ml-2" type="submit" name='add'>{% trans "Add" %}</button>
                </div>
            </div>
        </div>

        {% include "@survey/form.twig" %}
        <div class="text-center">
            <div class="text-danger mb-2">{% trans %}Be careful, once your survey has been posted, you cannot edit.{% endtrans %}</div>
            <button class="btn btn-primary" type="submit">{% trans "Post" %}</button>
            <a class="btn btn-primary ml-3" href="{{ path('surveys', {id:item.projectId}) }}">{% trans "Back" %}</a>
        </div>
    </form>

{% endblock %}
