{% extends "@user/layout.twig" %}

{% block title %}
    {% trans %}
        Edit features
    {% endtrans %}
{% endblock %}

{% block body %}
    {% set name = games.name %}
    <h2>{% trans %}Edit the bricks of {{ name }}{% endtrans %}</h2>

    <div class="">
        <form method="POST" action="{{ path('blog.user.features.summary' ~ '.edit', {projectId:games.id, id:summary.id|default(0)}) }}">
            {{ csrf_input() }}
            <input type="hidden" value="en" name="langcode">
            <textarea class="form-control" rows="3" placeholder="Summary..." maxlength="500" name="description">{{ summary.description }}</textarea>
            <input class="btn btn-primary my-2" type="submit" value="{% trans %}Save the summary{% endtrans %}">
            <a href="{{ path('blog.user.features.summary' ~ '.index', {projectId:games.id, id:summary.id|default(0)}) }}" class="btn btn-primary">
                {% trans %}Manage the translations{% endtrans %}
            </a>
        </form>        
    </div>
    <p class= "text-right">
        <a href="{{ path('blog.user.features.tags', {id: games.id}) }}" class="btn btn-primary">
            {% trans %}Manage tags{% endtrans %}
        </a> 
        <a href="{{ path('blog.user.features.feature' ~ '.create', {projectId:games.id}) }}" class="btn btn-primary">
            {% trans %}Add a brick{% endtrans %}
        </a>
    </p>
    <table class="table table-striped">
        <thead>
            <tr>
                <td class="text-center">{% trans "Archived" %}</td>
                <td>{% trans "Title" %}</td>
                <td>{% trans "Status" %}</td>
                <td>{% trans "Actions" %}</td>
            </tr>
        </thead>
        <tbody>
        <form method="POST" action="{{ path('blog.user.features.feature.archiving', {projectId:games.id}) }}">
            <input class="btn btn-primary mb-2" type="submit" value="{% trans %}Save archives{% endtrans %}">
            {{ csrf_input() }}
            {% set token_input = csrf_input() %}	
            {% for feature in features %}
                {% if (feature.userId == current_user().id) or (games.userId == current_user().id) or (current_user().role== "admin") or current_user().id in contributors   %}
                    <tr>
                        <td class="col-1 text-center">
                            <input type="checkbox" name="{{ feature.id }}" 
                                   {% if feature.archived == 1 %} checked="checked"{% endif %} 
                                   {% if feature.statusId < 5 %} disabled{% endif %} >
                        </td>
                        <td>
                            {% if feature.statusId == 1 %}
                                <i class="fas fa-exclamation-triangle text-danger" title="{% trans %}Required action{% endtrans %}"></i>
                            {% elseif feature.statusId == 3 %}
                                {% for money in moneyRaised if (money.featureId == feature.id and money.price >= feature.goal) or feature.deadline < date() %}
                                    <i class="fas fa-exclamation-triangle text-danger" title="{% trans %}Required action{% endtrans %}"></i>
                                {% endfor %}
                            {% endif %}
                            {{ feature.name }}
                            <a href="{{ path('blog.feature.showOneFeature', {slug:feature.slug, id:feature.id}) }}" class="ml-2"><i class="fas fa-eye"></i></a>
                        </td>
                        <td>
                            {{ feature.statusName }}
                        </td>

                        {% if (games.userId == current_user().id) or (feature.statusId == 1) or (current_user().role== "admin") %}
                            <td>
                                <a href="{{  path( 'blog.user.features.feature' ~ '.edit', {projectId:games.id, id:feature.id}) }}" class="btn btn-primary">{% trans "Edit" %}</a>
                            </td>
                            {% if (feature.statusId == 1) or (current_user().role== "admin") %}
                                <td>
                                    <button  class="btn btn-danger" data-toggle="modal" data-target="#confirmation[{{ item.id }}]">{% trans "Delete" %}</button >
                                    <div class="modal fade" id="confirmation[{{ item.id }}]" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    {% set featureName = feature.name %}
                                                    <h4 class="modal-title">{% trans %}Delete {{featureName}} ?{% endtrans %}</h4>
                                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                </div>
                                                <div class="modal-body">
                                                    <form style="display: inline;" action="{{  path('blog.user.features.feature' ~ '.delete', {projectId:games.id, id:feature.id}) }}" method="POST" >
                                                        <input type="hidden" name="_method" value="DELETE">
                                                        <button class="btn btn-danger">{% trans "Confirm" %}</button>
                                                        {{ token_input | raw  }}
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            {% endif %}
                        {% endif %}
                    </tr>
                {% endif %}
            {% endfor %}
        </form>
    </tbody>
</table>


{% endblock %}

