<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title "RedBricks" %}</title>
        <link rel="icon" type="image/png" href="/images/favicon.png">
        <link rel="stylesheet" href="/css/custom.css">
        <link  rel="stylesheet" href="/style.css ">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    </head>
    <body>
        <nav class="navbar fixed-top navbar-expand-md navbar-dark bg-primary">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <a class="navbar-brand m-auto d-md-none text-center my-2" href="{{ path('blog.index') }}"><img src="/images/logo.png" alt="Redbricks" style="height:30px;" ></a>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="nav navbar-nav mr-auto">
                    <li class="nav-item {{ is_subpath('blog.index') ? 'active' }}">
                        <a class="nav-link" href="{{ path('blog.index') }}">{% trans "Explore" %}</a>
                    </li>
                    <li class="nav-item {{ is_subpath('start') ? 'active' }}">
                        <a class="nav-link" href="{{ path('start') }}">{% trans %}Start Project{% endtrans %}</a>
                    </li>
                    <li class="nav-item {{ is_subpath('suggestion') ? 'active' }}">
                        <a class="nav-link" href="{{ path('suggestion') }}">{% trans %}Suggest a project{% endtrans %}</a>
                    </li>
                    <li class="nav-item {{ is_subpath('about') ? 'active' }}">
                        <a class="nav-link" href="{{ path('about') }}">{% trans %}About{% endtrans %}</a>
                    </li>
                </ul>

                <a class="navbar-brand d-none d-md-block my-2 mr-auto" href="{{ path('blog.index') }}"><img src="/images/logo.png" alt="Redbricks" style="height:44px;" ></a>

                <div class="navbar-nav">
                    {% include "@localization" ~ "/languageButton.twig" %}
                    {% if current_user() %}
                        {% set role = current_user().role %}
                        {% include "@blog" ~ "/userButton.twig" %}
                    {% else %}
                        <div class="nav-item {{ is_subpath('auth.login') ? 'active' }}">
                            <a class="nav-link" href="{{ path('auth.login') }}">{% trans "Log in" %}</a>
                        </div>
                        <div class="nav-item {{ is_subpath('account.signup') ? 'active' }}">
                            <a class="nav-link" href="{{ path('account.signup') }}">{% trans "Register" %}</a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </nav>

        <!-- Container fluid prend toute la largeur de l'écran, alors que
        Container prend une largeur fixe -->
        <div class="container-fluid" >
            {% if flash("success") %}
                <div class="alert alert-success">
                    {% set success = flash("success") %}
                    {{ success }}
                </div>
            {% endif %}

            {% if flash("error") %}
                <div class="alert alert-danger">
                    {{ flash("error") }}
                </div>
            {% endif %}

            {% block body %}{% endblock %}

        </div><!-- /.container -->
        {% include "footer.twig" %}

        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/timeago.js/3.0.2/timeago.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/timeago.js/3.0.2/timeago.locales.min.js"></script>
        <script>
            timeago().render(document.querySelectorAll(".timeago"), "fr");
        </script>
        <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>
    </body>
</html>