{% include '@comments' ~ '/addComment.twig' %}

{% for comment in comments %}
    {% include '@comments' ~ '/comment.twig' %}
{% endfor %}

<script>
    jQuery(document).ready(function ($) {

        $('.reply').click(function (e) {
            e.preventDefault();
            var $form = $('#form-add-comment');
            var $this = $(this);
            var parent_id = $this.data('id');
            var $comment = $('#comment-' + parent_id);

            $('#parentId').val(parent_id);
            $comment.after($form);
            $('#form-add-comment').addClass("ml-3");
        });

    });
</script>


