{% extends 'layout.twig' %}

{% block body %}

    <h1 class="text-center">{% trans "Contact" %}</h1>

    <form class="col-md-8 offset-md-2" action="{{ path('contact') }}" method="post">
        {{ csrf_input() }}
        {% set name %}{% trans %}Name{% endtrans %}{% endset %}
        {% set email %}{% trans %}E-mail address{% endtrans %}{% endset %}
        {% set content %}{% trans %}Message{% endtrans %}{% endset %}
        {{ field('name', null, name) }}
        {{ field('email', null, email) }}
        {{ field('content', null, content, {type: 'textarea'}) }}
        <button class="btn btn-primary">{% trans "Send" %}</button>
    </form>

{% endblock %}