{% extends "@user/layout.twig" %}

{% block title %}
    {% trans %}
        Edit a bug report
    {% endtrans %}
{% endblock %}

{% block body %}

    {% set title = item.title %}
    <h1 class="text-center">{% trans %}Edit the bug report "{{ title }}"{% endtrans %}</h1>

    <form action= "{{ path('bugs' ~ '.edit', {projectId: item.projectId, id: item.id}) }}" method="post" enctype="multipart/form-data">
        {{ csrf_input() }}
        {% include "@bug/form.twig" %}

        {% for attachment in attachments %}
            <button type="submit" name="deleteAttachment" value="{{ attachment.id }}">&#x274C;</button>
            {{ attachment.name }}
            <br>
        {% endfor %}

        <small><span class="text-danger">*</span> {% trans %}Mandatory field{% endtrans %}</small><br>
        <button class="btn btn-primary" type="submit">{% trans "Edit" %}</button>
        {% if current_user().id == item.userProject or current_user().role == "admin" %}
            <a class="btn btn-primary ml-3" href="{{ path('bugs', {id:item.projectId}) }}">{% trans "Back" %}</a>
        {% else %}
            <a class="btn btn-primary ml-3" href="{{ path('bug', {id:item.id}) }}">{% trans "Back" %}</a>
        {% endif %}
    </form>

{% endblock %}
