{% extends "@user/layout.twig" %}

{% block title %}
    {% trans %}
        Manage bug report
    {% endtrans %}
{% endblock %}

{% block body %}
    {% set gameName = game.name %}
    <h2>{% trans %}Edit the bug report of {{ gameName }}{% endtrans %}</h2>
    <p class= "text-right">
        <a href="{{ path('bugs' ~ '.create',  {projectId:game.id}) }}" class="btn btn-primary">
            {% trans %}Add a bug report{% endtrans %}
        </a>
    </p>
    <table class="table table-striped">
        <thead>
            <tr>
                <td>{% trans "Title" %}</td>
                <td>{% trans "Status" %}</td>
                <td>{% trans "Actions" %}</td>
            </tr>
        </thead>
        <tbody>
            {% set token_input = csrf_input() %}	
            {% for bug in bugs %}
                {% if (bug.userId == current_user().id) or (game.userId == current_user().id) or (current_user().role== "admin")   %}
                    <tr>
                        <td>
                            {{ bug.title }}
                            <a href="{{ path('bug', {id: bug.id}) }}" class="ml-2"><i class="fas fa-eye"></i></a>
                        </td>
                        <td>{{ bug.statusName }}</td>

                        {% if (game.userId == current_user().id) or (current_user().role== "admin") %}
                            <td>
                                <a href="{{  path( 'bugs' ~ '.edit', {projectId:game.id, id:bug.id}) }}" class="btn btn-primary">{% trans "Edit" %}</a>
                            </td>
                            {% if current_user().role== "admin" %}
                                <td>
                                    <button  class="btn btn-danger" data-toggle="modal" data-target="#confirmation[{{ bug.id }}]">{% trans "Delete" %}</button >
                                    <div class="modal fade" id="confirmation[{{ bug.id }}]" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    {% set bugTitle = bug.title %}
                                                    <h4 class="modal-title">{% trans %}Delete {{bugTitle}}?{% endtrans %}</h4>
                                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                </div>
                                                <div class="modal-body">
                                                    <form style="display: inline;" action="{{  path('bugs' ~ '.delete', {projectId:game.id, id:bug.id}) }}" method="POST" >
                                                        <input type="hidden" name="_method" value="DELETE">
                                                        <button class="btn btn-danger">{% trans "Confirm" %}</button>
                                                        {{ token_input | raw  }}
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            {% endif %}
                        {% endif %}

                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>


{% endblock %}

