{% extends "layout.twig" %}

{% block title %}
    {{ game.name }}
{% endblock %}

{% block body %}

    {% include '@blog/layoutGame.twig' %}

    <div class="row">
        <div class="col-md-3" >
            <small>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{{ path('blog.index') }}">{% trans "Home" %}</a></li>
                        <li class="breadcrumb-item active" aria-current="page">{{ game.name }}</li>
                    </ol>
                </nav>
            </small>

            <div class="card mt-2 border-primary" > 
                <div class="card-header">
                    <h2 class="text-center">
                        {% set nbBugs = nbBugsSort[0] %}
                        {% trans %}
                            {{ nbBugs }} Bug
                            {% plural nbBugs %}
                            {{ nbBugs }} Bugs
                        {% endtrans %}
                    </h2>   
                    <small class="text-muted" id="noBugFilter">{% trans %}No filter{% endtrans %}</small>
                </div>
                <ul class="list-group" id="bugFilter" >
                    {% for s in statusBugs %}
                        <li class="list-group-item text-primary" id="{{ s.name }}">
                            {{ s.name }} <span class="badge badge-primary float-right">{{ nbBugsSort[s.id] }}</span>
                        </li>
                    {% endfor %}
                </ul>
            </div>

            <div  class="text-center my-2">
                <a href="{{ path('bugs' ~ '.create',  {projectId:game.id}) }}" class="btn btn-primary">
                    {% trans %}Add bug report{% endtrans %}
                </a>			
            </div>

            {% if current_user() %}
                <div class="card my-2 border-primary">
                    <div class="card-header">
                        <h4 class="text-center">{% trans %}Fast bug report{% endtrans %}</h4>
                    </div>
                    <div class="card-body">
                        <form action="{{ path('bugs.list', {slug:game.slug, id:game.id})}}" method="POST">
                            {{ csrf_input() }}
                            {% set title %}{% trans %}Title{% endtrans %}{% endset %}
                            {% set description %}{% trans %}Description{% endtrans %}{% endset %}
                            {{ field("title", item.title, title, {maxlength:'50'}) }}
                            {{ field("description", item.description, description, {type: 'textarea'}) }}
                            <input type="submit" class="btn btn-primary" value="Send">
                        </form>
                    </div>
                </div>
            {% endif %}
        </div>

        <div class="col-md-9">	
            <div class="row">
                {% for bug in bugs %}           
                    <div class="card-deck col-xl-3 col-lg-4 col-md-6 col-sm-6 col-xs-12 card-bug">
                        <div class="card shadow">
                            <div class="card-header">
                                <div class="carte-title mb-2">
                                    <a href="{{ path('bug', {id:bug.id}) }}">
                                        {{ bug.title }}
                                    </a><br>
                                    {% trans "by" %} <a class="text-info" href="{{ path('profile', {id: bug.userId}) }}">{{ bug.author }}</a><br>
                                    <small class="text-muted">
                                        {{ bug.createdAt|date('j F Y') }}
                                        - 
                                        <span class="badge {{ 'color' ~ bug.statusId }}" title="status">{{ bug.statusName }}</span> <br>
                                    </small>
                                </div>
                            </div>
                            <div class="card-body">
                                <p class="card-text text-muted">
                                    {{ bug.description | excerpt | raw }}
                                </p>
                                <div class="text-center">
                                    <a class="btn btn-outline-primary btn-sm my-2" href="{{ path('bug', {id:bug.id}) }}">
                                        {% trans %}More information{% endtrans %}
                                    </a>
                                </div>
                            </div>
                            <div class="card-footer">
                                <small>
                                    <span class="badge {{ 'color' ~ bug.categoryId }}" title="category">{{ bug.categoryName }}</span>
                                    <span class="badge {{ 'color-danger' ~ bug.severityId }}" title="severity">{{ bug.severityName }}</span>
                                    <span class="badge {{ 'color-success' ~ bug.frequencyId }}" title="frequency">{{ bug.frequencyName }}</span>
                                </small>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

    </div>

    <script>
        $(document).ready(function () {
            $('#noBugFilter').hide();
        });

        $('#bugFilter>li').click(function () {
            $('#bugFilter>li').removeClass('active').addClass('text-primary');
            $(this).addClass('active').removeClass('text-primary');
            $('#noBugFilter').show();
            var status = $(this).attr('id');
            $('.card-bug').each(function () {
                if (jQuery(this).find('.card-header').is(":contains(" + status + ")")) {
                    $(this).show();
                } else {
                    $(this).hide();
                }
            });
        });

        $('#noBugFilter').click(function () {
            $('#bugFilter>li').removeClass('active').addClass('text-primary');
            $('.card-bug').show();
            $(this).hide();
        });
    </script>

{% endblock %}