{% extends 'layout.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-3">
            <small>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{{ path('blog.index') }}">{% trans "Home" %}</a></li>
                        <li class="breadcrumb-item"><a href="{{ path('bugs.list', {slug: game.slug, id: game.id}) }}">{{ game.name }}</a></li>
                        <li class="breadcrumb-item active" aria-current="page">{{ bug.title }}</li>
                    </ol>
                </nav>
            </small>

            <div class="card my-2 border-primary">
                <div class="card-header">
                    <h3 class="text-center">{% trans "Informations" %}</h3>
                </div>
                <div class="list-group-item">
                    {% trans %}Status:{% endtrans %} {{ bug.statusName }}
                </div>
                <div class="list-group-item">
                    {% trans %}Category:{% endtrans %} {{ bug.categoryName }}
                </div>
                <div class="list-group-item">
                    {% trans %}Severity:{% endtrans %} {{ bug.severityName }}
                </div>
                <div class="list-group-item">
                    {% trans %}Frequency:{% endtrans %} {{ bug.frequencyName }}
                </div>
                <div class="list-group-item">
                    {% trans %}Created at:{% endtrans %} {{ bug.createdAt | date('j F Y') }}
                </div>
            </div>

            {% if (bug.userId == current_user().id or bug.userProject == current_user().id or current_user().role== "admin") %}
                <div class="text-center my-2">
                    <a href="{{ path('bugs' ~ '.edit', {projectId: bug.projectId, id: bug.id}) }}" class="btn btn-primary">
                        {% trans "Edit" %}
                    </a>
                </div>
            {% endif %}
        </div>

        <div class="col-md-9 d-flex justify-content-center my-2" >
            <div class="card col-12 shadow" >

                <div class="card-header">
                    <div class="carte-title mb-2">
                        <h1 class="text-center">{{ bug.title }}</h1>
                        <h3 class="text-center">{% trans "by" %} <a class="text-info" href="{{ path('profile', {id: bug.userId}) }}">{{ bug.author }}</a></h3>
                    </div>
                </div>

                <div class="card-body">
                    <p class="card-text">
                        {{ bug.description | raw | nl2br }}
                    </p>
                </div>

                <div class="card-footer">
                    {% for attachment in attachments %}
                        <a href="/uploads/files/{{ attachment.name }}" download>
                            {{ attachment.name }}
                        </a><br>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            {% include "@comments" ~ "/comments.twig" %}
        </div>
    </div>

{% endblock %}
