{% extends 'layout.twig' %}

{% block body %}

    {% include '@about/menuLayout.twig' %}

    <h1 class="text-primary text-center my-5">Charte d'engagement</h1>

    <div class="container">
        <h3>RedBricks s'engage à</h3>
        <ul>

        </ul>

        <h3>Les créateurs s'engagent à</h3>
        <ul>

        </ul>

        <h3>Les joueurs s'engagent à</h3>
        <ul>

        </ul>
    </div>

{% endblock %}
