{% extends 'layout.twig' %}

{% block body %}

    {% include '@about/menuLayout.twig' %}

    <h1 class="text-primary text-center my-5">Qui sommes-nous ?</h1>

    <div class="container">
        <div class="row">
            <div class="col-12 text-justify">
                <p>RedBricks est une plateforme développée par l'association Ethical Games.</p>
                <p>Derrière RedBricks, il y a deux personnes : Aline Bardou, présidente de l'association, 
                    qui s’occupe du développement, et Kévin Remeuf, qui s’occupe de la communication.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-6 text-center">
                <img class="rounded-circle avatar-xl shadow" src="/images/AlineBonnet.png" alt="Aline Bardou"><br>
                Aline Bardou
            </div>
            <div class="col-6 text-center">       
                <img class="rounded-circle avatar-xl shadow" src="/images/KevinRemeuf.png" alt="Kévin Remeuf"><br>
                Kévin Remeuf
            </div>
        </div>

        <div class="row my-5">
            <div class="col-xl-6 offset-xl-3 col-md-8 offset-md-2 bg-light text-center">
                RedBricks c'est aussi des prestataires avec lesquels nous travaillons réglièrement pour compléter nos compétences et bien évidemment nos utilisateurs
                qui l'enrichissent chaque jour de contenu.
            </div>
        </div>
    </div>

{% endblock %}
