{% extends 'layout.twig' %}

{% block body %}

    <h1 class="text-center">{% trans "Settings" %}</h1>

    <div class="col-md-9 pb-3">
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" href="#account" role="tab" data-toggle="tab">{% trans "My account" %}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#profile" role="tab" data-toggle="tab">{% trans "My profile" %}</a>
            </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content col-md-9">
            <div role="tabpanel" class="tab-pane fade in active show" id="account">
                <form action="" method="post">
                    {{ csrf_input() }}
                    {% set email %}{% trans %}Email address{% endtrans %}{% endset %}
                    {{ field('email', user.email, email) }}
                    {% set password %}{% trans %}New password{% endtrans %}{% endset %}
                    {% set comment %}{% trans %}Leave empty to keep current password{% endtrans %}{% endset %}
                    {% set password_confirm %}{% trans %}Confirm password{% endtrans %}{% endset %}
                    {{ field('password', null, password, {type: 'password'}, comment) }}
                    {{ field('password_confirm', null, password_confirm, {type: 'password'}) }}

                    <button class="btn btn-primary" name="btn_account">{% trans "Save" %}</button>
                </form>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="profile">
                <form action="" method="post" enctype="multipart/form-data">
                    {{ csrf_input() }}
                    {% set displayname %}{% trans %}Display Name{% endtrans %}{% endset %}
                    {{ field('displayname', user.displayname, displayname) }}
                    <div class="form-group">
                        {% if user.avatar %}
                            <img class="col-md-4 rounded-circle" src="{{ user.avatarThumb }}" alt="" style="width:80%;">
                        {% endif %}
                        <label for="avatar">{% trans "Avatar" %}</label>
                        <input class="col-md-6 form-control" type="file" name="avatar" id="avatar">
                    </div>
                    {% set website %}{% trans %}Website{% endtrans %}{% endset %}
                    {% set profile %}{% trans %}Profile{% endtrans %}{% endset %}
                    {% set location %}{% trans %}Location{% endtrans %}{% endset %}
                    {{ field('website', user.website, website) }}
                    {{ field("profile", user.profile, profile, {type: "textarea"}) }}
                    {{ field('location', user.location, location) }}
                    <button class="btn btn-primary" name="btn_profile">{% trans "Save" %}</button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}