{% extends "@user/layout.twig" %}

{% block title %}
    {% trans %}
        Manage the summary's translations
    {% endtrans %}
{% endblock %}

{% block body %}
    {% set name = games.name %}
    <h2>{% trans %}Manage the summary's translations of {{ name }}{% endtrans %}</h2>

    <div class="text-right">
        <a href="{{ path('blog.user.features', {id: games.id}) }}" class="btn btn-primary">
            {% trans %}Back{% endtrans %}
        </a>
    </div>

    {% for lang in languages %}
        {% set summary = null %}
        {% for resume in summaries if resume.langcode == lang.code %}
            {% set summary = resume %}
        {% endfor %}
        <div class="my-2">
            <h3>{{ lang.name }}</h3>
            <form method="POST" action="{{ path('blog.user.features.summary' ~ '.edit', {projectId:games.id, id:summary.id|default(0)}) }}">
                {{ csrf_input() }}
                <input type="hidden" value="{{ lang.code }}" name="langcode">
                <textarea class="form-control" rows="3" placeholder="Summary..." maxlength="500" name="description">{{ summary.description }}</textarea>
                <div class="text-right">
                    <input class="btn btn-primary my-2" type="submit" value="Save the summary">
                </div>
            </form> 
        </div>
    {% endfor %}
{% endblock %}
