{% extends "layout.twig" %}

{% block title %}
    {{ game.name }}
{% endblock %}

{% block body %}

    {% include '@blog/layoutGame.twig' %}

    <div class="row">
        <div class="col-md-3" >
            <small>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{{ path('blog.index') }}">{% trans "Home" %}</a></li>
                        <li class="breadcrumb-item active" aria-current="page">{{ game.name }}</li>
                    </ol>
                </nav>
            </small>

            {% if game.userId == current_user().id or current_user().role == "admin" %}
                <div  class="text-center my-2">
                    <a href="{{ path('news' ~ '.create',  {projectId:game.id}) }}" class="btn btn-primary">
                        {% trans %}Add a news{% endtrans %}
                    </a>			
                </div>
            {% endif %}
        </div>

        <div class="col-md-9">	
            <div class="row">
                {% for n in news %}  
                    <div class="card-deck col-12">
                        <div class="card">
                            <div class="card-body row">
                                {% if n.image %}
                                    <div class="col-2">

                                    </div>
                                {% endif %}
                                <div class="{% if n.image %}col-8{% else %}col-10{% endif %}">
                                    <h3 class="d-inline"><a href="{{ path('news.show', {id: n.id}) }}">{{ n.title }}</a></h3>
                                    <small class="text-muted">
                                        {% trans "by" %}
                                        <a class="text-info" href="{{ path('profile', {id: n.userId}) }}">
                                            {{ n.author }}
                                        </a>
                                        - {{ n.createdAt | date("j F Y H:i") }}
                                    </small> 
                                    <br>
                                    {{ n.content | striptags | excerpt(150) | raw | nl2br}}
                                </div>
                                <div class="col-2 m-auto">
                                    <a class="btn btn-primary" href="{{ path('news.show', {id: n.id}) }}">{% trans %}Read more{% endtrans %}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

    </div>

{% endblock %}
