{% extends "@admin/layout.twig" %}

{% block title "Edit the licence" %}

    {% block body %}

        <h1>Edit the licence {{ item.name }}</h1>

        <form action= "{{ path(routePrefix ~ '.edit', {id: item.id}) }}" method="post">
            {% include viewPath ~ "/form.twig" %}
            <button class="btn btn-primary" type="submit">Save</button>
            <a class="btn btn-primary ml-3" href="{{ path(routePrefix ~ '.index') }}">Back</a>
        </form>

    {% endblock %}

