<nav class="navbar navbar-expand bg-transparent">
    <div class="nav navbar-nav mx-auto nav-pills">
        <a class="nav-item nav-link ml-3 {{ is_subpath('shop.purchases.subscriptions') ? 'active' }}" href="{{ path('shop.purchases.subscriptions') }}">
            {% trans "Subscriptions" %}<span class="sr-only">(current)</span>
        </a>
        <a class="nav-item nav-link ml-3 {{ is_subpath('shop.purchases.donations') ? 'active' }}" href="{{ path('shop.purchases.donations') }}">
            {% trans "Dons" %} 
        </a>
    </div>
</nav>


