{% extends 'layout.twig' %}

{% block body %}

    <!--menu-->
    {% include '@shop/layoutContributions.twig' %}

    <h1 class="text-center">{% trans %}My subscriptions{% endtrans %}</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>{% trans "Project" %}</th>
                <th>{% trans "Product" %}</th>
                <th>{% trans "Created date" %}</th>
                <th>{% trans "next payment" %}</th>
                <th>{% trans "Amount" %}</th>
                <th>{% trans "Actions" %}</th>
            </tr>
        </thead>
        <tbody>

            {% for key, subscription in subscriptions %}
                {% set plan = subscription.plan %}
                {#{{ dump(subscription) }}#}
                <tr>
                    <td>
                        {{ subscription.gameName }}
                    </td>
                    <td>
                        {{ subscription.product }}
                    </td>
                    <td>
                        {{ subscription.created | date('d/m/Y') }}
                    </td>
                    <td>
                        {{ subscription.current_period_end | date('d/m/Y') }}
                    </td>
                    <td>
                        {{ plan.amount / 100 }} {{ plan.currency }} {% trans "per" %} {{ plan.interval }}
                    </td>
                    <td>
                        <button  class="btn btn-danger" data-toggle="modal" data-target="#confirmation[{{ key }}]">{% trans "Cancel" %}</button >
                        <div class="modal fade" id="confirmation[{{ key }}]" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        {% set gameName = subscription.gameName %}
                                        <h4 class="modal-title">{% trans %}Are you sure to want to cancel your subscription at {{gameName}} ?{% endtrans %}</h4>
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    </div>
                                    <div class="modal-body">
                                        <form style="display: inline;" action="{{ path('shop.purchases.subscriptions.manage.delete', {projectId: 0, id: key}) }}" method="POST" >
                                            {{ csrf_input() }}
                                            <input type="hidden" name="_method" value="DELETE">
                                            <button class="btn btn-danger">{% trans "Confirm" %}</button>
                                            {{ token_input | raw  }}
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            {% endfor%}
        </tbody>
    </table>

{% endblock %}