{% extends 'layout.twig' %}


{% block body %}

    <p>
        {% trans %}Please enter your new password.{% endtrans %}
    </p>

    <form action="" method="post">
        {{ csrf_input() }}
        {% set password %}{% trans %}Password{% endtrans %}{% endset %}
        {% set password_confirm %}{% trans %}Confirm password{% endtrans %}{% endset %}
        {{ field('password', null, password, {type: 'password'}) }}
        {{ field('password_confirm', null, password_confirm, {type: 'password'}) }}
        <button class="btn btn-primary">{% trans %}Reset password{% endtrans %}</button>
    </form>

{% endblock %}
