{% extends 'layout.twig' %}

{% block body %}

    <h1>{% trans %}Send a new message{% endtrans %}</h1>

    <form method="post">
        {{ csrf_input() }}
        {% set to %}{% trans %}Recipient(s){% endtrans %}{% endset %}
        {% set comment %}{% trans %}recipients separated by semicolons{% endtrans %}{% endset %}
        {% set yourMessage %}{% trans %}Your message{% endtrans %}{% endset %}
        {{ field('to', to.displayname, to, {}, comment) }}
        {{ field('message', message, yourMessage, {type: 'textarea'}) }}
        <button class="btn btn-primary">{% trans "Send" %}</button>
    </form>

{% endblock %}