{% extends "@admin/layout.twig" %}

{% block title "Add a game" %}

    {% block body %}

        <h1>Add a game </h1>

        <form action= "{{ path(routePrefix ~ '.create') }}" method="post" enctype="multipart/form-data">
            {% include viewPath ~ "/form.twig" %}
            <button class="btn btn-primary" type="submit">Create</button>
            <a class="btn btn-primary ml-3" href="{{ path('blog.index') }}">Back</a>
        </form>

    {% endblock %}