{{ csrf_input() }}
<div class= "row">
    <div class= "col-md-4">
        {% set name %}{% trans %}Name of the game{% endtrans %}{% endset %}
        {{  field("name", item.name, name ~ '<span class="text-danger">*</span>' ) }}
        {{	field("slug", item.slug, "Slug" ) }}

        <div class= "form-group" >
            {% include "@blog" ~ "/licencesBlock.twig" %}
        </div>
        <div class= "form-group" >
            <div >Platforms</div>
            <div style="padding: .5rem .75rem;border: 1px solid rgba(0,0,0,.15);border-radius: .25rem;">
                {% include "@blog" ~ "/platformsBlock.twig" %}
            </div>
        </div>		
        <div class="form-group">
            <div>Social media</div>
            <div style="padding: .5rem .75rem;border: 1px solid rgba(0,0,0,.15);border-radius: .25rem;">
                {% include "@blog" ~ "/socialMediaBlock.twig" %}
            </div>
        </div>

    </div>	

    <div class= "col-md-8">
        <div class="form-group">
            {% if item.image %}
                <img class="col-md-4" src="{{ item.thumb }}" alt="" >
            {% endif %}
            <label for="image">Image</label>
            <input class="col-md-6" type="file" class="form-control" name="image" id="image">
        </div>		
        <div class= "row" style="margin: .5rem 0;padding: .5rem .75rem;border: 1px solid rgba(0,0,0,.15);border-radius: .25rem;">
            <div class= "col-md-4">
                {#{{ field("published", item.published, "En ligne ?", { type: "checkbox"} ) }}	#}
                <label class="custom-control custom-checkbox"  >
                    <input type="checkbox" id="published" name="published" value="{{ item.published }}" {% if item.published == 1 %}checked{% endif %}>
                    <span class="custom-control-indicator"></span>
                    <span class="btn btn-outline-primary" style="font-size: 0.7rem;">online (visible)?</span>
                </label>
            </div>
            <div class= "col-md-8">
                {{	field("created_at", item.createdAt, "Created date",{class: "datepicker"} ) }}
            </div>
        </div>

        {% if item.author is empty %}
            {% set Author= current_user().displayname %}
        {% else %}
            {% set Author= item.author %}
        {% endif %}
        {{	field("author", Author, "Author" ) }}	

        <div class= "form-group" >
            <label for="tinyContent">Description</label>
            <textarea class="form-control" name="content" id="tinyContent" style="height: 10rem;">{{item.content}}</textarea>
        </div>
    </div>

</div>











