<div class="col-sm-4">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">{{ total | number_format(2, ',')}} €</h4>
      <p class="card-text">{% trans %}This month (from date to date){% endtrans %}</p>
    </div>
  </div>
</div>