{% set lienPlatform= "" %}
{% for link in linkPlatforms %}
    {% set lienPlatform = lienPlatform ~ ',' ~ link.platformId %}
{% endfor %}

{% set i = 0 %}
<div class="row">
    {% for platform in platforms %}
        <div class="col-6" >
            {% set i = i+1 %}
            <div class="form-check"  >
                <input type="checkbox" class="form-check-input" id="{{ platform.slug }}" name="platform[{{ i }}]" value="{{ platform.id }}" {% if i in lienPlatform %}checked{% endif %} >
                <label class="form-check-label text-primary mb-1" for="{{ platform.slug }}" >{{ platform.name }}</label>
            </div>
        </div>
    {% endfor %}
</div>