{% if feature.image and not one%}
    <img class="card-img-top" src="{{ feature.illustration }}" alt="{{ feature.name }}" >
{% elseif one %}
    <div class="card-header">

        <div class="carte-title mb-3">
            <h1 class="text-center">{{ feature.name }}</h1>
            <h3 class="text-center">
                {% trans "by" %} 
                <a class="text-info" href="{{ path('profile', {id: feature.userId}) }}">
                    {{ feature.author }}
                    {% if feature.userId == game.userId %}
                        <i class="fas fa-check-circle" title="{% trans "checked" %}"></i>
                    {% endif %}
                </a>
            </h3>
        </div>
    </div>
{% else %}
    <img class="card-img-top" src="/images/feature_default2.png" alt="{{ feature.name }}" >
{% endif %}

{% if feature.image and one%}
    <div class="text-center"> 
        <img class="card-img-top" src="{{ feature.illustration }}" alt="{{ feature.name }}" style="max-width:80%;" >
    </div>
{% endif %}

{% if not one %}
    {% set pourcentage = 0 %}
    {% set leftElement = null %}
    {% set rightElement = null %}

    {% if feature.statusId == 2 %}
        {% set voteYes = 0 %}
        {% set voteNo = 0 %}
        {% for vote in votes if vote.featureId == feature.id %}
            {% if vote.vote == 1 %}
                {% set voteYes = voteYes + 1 %}
            {% else %}
                {% set voteNo = voteNo + 1 %}
            {% endif %}
        {% endfor %}
        {% if voteYes + voteNo != 0 %}
            {% set pourcentage = 100 * voteYes / (voteYes + voteNo) %}
        {% else %}
            {% set pourcentage = 50 %}
        {% endif %}
        {% set disabled = '' %}
        {% for vote in votes if (feature.id == vote.featureId and vote.userId == current_user().id) %}
            {% set disabled = 'disabled' %}
        {% endfor %}
        {% set leftElement = '<button name="voteYes" value="true" class="btn btn-link"' ~ disabled ~ '>' ~ (voteYes | default(0)) ~ ' <i class="far fa-thumbs-up"></i></button>' %}
        {% set rightElement = '<button name="voteNo" value="false" class="btn btn-link"' ~ disabled ~ '>' ~ (voteNo | default(0)) ~ ' <i class="far fa-thumbs-down"></i></button>' %}

    {% elseif feature.statusId == 3 %}
        {% set moneyFeature = 0 %}
        {% for money in moneyRaised if money.featureId == feature.id %}
            {% set moneyFeature = money.price %}
        {% endfor %}
        {% for money in moneyFunded if money.featureId == feature.id %}
            {% set moneyFeature = moneyFeature + money.price %}
        {% endfor %}
        {% if feature.goal > 0 %}
            {% set pourcentage = (moneyFeature * 100 / feature.goal) %}
        {% endif %}
        {% set leftElement = moneyFeature ~ "€" %}
        {% set rightElement = (feature.goal | default(0)) ~ "€"%}

    {% elseif feature.statusId == 4 %}
        {% set rightElement = feature.estimatedDate | date("j M y") %}

    {% elseif feature.statusId == 5 %}
        {% set pourcentage = 100 %}
        {% set leftElement = (feature.goal | default(0)) ~ "€" %}
        {% set rightElement = feature.deliveryDate | date("j M y") %}

    {% elseif feature.statusId == 6 %}
        {% set pourcentage = 0 %}
        {% set rightElement = feature.deliveryDate | date("j M y") %}
    {% endif %}

    {% if feature.statusId == 2 %}
        <form action="{{ path('blog.vote', {slug: feature.slug, id: feature.id}) }}" method="POST">
            {{ csrf_input() }}
            <input type="hidden" name="userId" value="{{current_user().id}}">
            <input type="hidden" name="featureId" value="{{feature.id}}">
            <input type="hidden" name="featureSlug" value="{{feature.slug}}">
            <input type="hidden" name="path_back" value="bricks">
        {% endif %}
        <div class="circle bg-white">
            <span>{{ pourcentage | round}}%</span>
        </div>
        <div class="row">
            <div class="col-md-6 text-center">
                <span class="text-muted">   
                    {{ leftElement | raw }}
                </span>
            </div>
            <div class="col-md-6 text-center">
                <span class="text-muted">
                    {{ rightElement | raw }}
                </span>
            </div>
        </div>
        {% if feature.statusId == 2 %}
        </form>
    {% endif %}
{% endif %}

<div class="card-body">


    {% if one %}
        <p class="card-text text-muted">
            {{ feature.content | raw | nl2br}}
        </p>
    {% else %}

        <h5 class="card-title">
            <a href="{{ path('blog.feature.showOneFeature', {slug: feature.slug, id: feature.id}) }}">
                {{ feature.name }}
            </a>
        </h5>
        <h6 class="card-subtitle mb-2">
            {% trans "by" %} 
            <a class="text-info" href="{{ path('profile', {id: feature.userId}) }}">
                {{ feature.author }}
                {% if feature.userId == game.userId %}
                    <i class="fas fa-check-circle text-success" title="{% trans "creator" %}"></i>
                {% endif %}
            </a>
        </h6>
        <p class="card-text text-muted">
            {{ feature.content | striptags | excerpt | raw | nl2br}}
        </p>
    {% endif %}


    {% if not one %}
        <div class="text-center">
            <a class="btn btn-outline-primary btn-sm my-2" href="{{ path('blog.feature.showOneFeature', {slug: feature.slug, id: feature.id}) }}">
                {% trans %}Read More{% endtrans %}
            </a>
        </div>
    {% endif %}

</div>

{% if not one %}
    <div class="card-footer">
        {% for tag in tags if tag.featureId == feature.id %}
            <div class="badge {{ "color-tag" ~ tag.color }}">
                {{ tag.name }}
            </div>
        {% endfor %}
        {% for s in status %}
            {% if feature.statusId == s.id %}
                {% set color = 'color' ~ s.id %} 
                <div class="badge {{ color }}" >
                    {{ s.name }}
                </div>
                <small class="text-muted">
                    {{ feature.abandonReason }}
                </small>
            {% endif %}
        {% endfor %}
    </div>
{% endif %}


