{{ username }},<br />
thank you for your comment on RedBricks.<br />
<br />
We propose us to active this account to protect your information and to
can to have access to all the website.<br />
<br />
To activate your account, simply click on the following link:<br />
<br />
<a href="https://redbricks.games/authentication?log={{ username }}&key={{ activation_key }}">
    https://redbricks.games/authentication?log={{ username }}&key={{ activation_key }}
</a><br />
Your temporary password is : {{ password }}. We advise you to change it quickly.<br>
<br />
(Some email client users may need to copy and paste the link into your web
browser).<br />
<br />
----<br />
<br />
The RedBricks Team
