{{ username | raw }},
thank you for registering.

We require that you "validate" your registration to ensure that
the email address you entered was correct.

To activate your account, simply click on the following link:

https://redbricks.games/authentication?log={{ username | raw }}&key={{ activation_key | raw }}

(Some email client users may need to copy and paste the link into your web
browser).

----

The RedBricks Team