{% extends "@user/layout.twig" %}

{% block title %}
    {% trans %}Edit games{% endtrans %}
{% endblock %}

{% block body %}

    <div class="my-3">
        {% if current_user().stripeUserId %}
            <a class="btn btn-info" href="{{ urlStripe }}" onclick="window.open(this.href);
                    return false;">{% trans %}Go Stripe{% endtrans %}</a> 
            <i class="fas fa-check-square text-success fa-lg"></i> {% trans %}A stripe account is linked to your profil.{% endtrans %}
        {% else %}
            <a href="{{ urlStripe }}" class="btn btn-info">{% trans %}Connect with Stripe{% endtrans %}</a>
            <span class="text-danger">{% trans %}Necessary to receive tips or create a crowdfunding campaign.{% endtrans %}
            {% endif %}

            <a href="{{ path(routePrefix ~ '.create') }}" class="btn btn-primary float-right">
                {% trans %}Add a game{% endtrans %}
            </a>
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <td>{% trans "Title" %}</td>
                <td>{% trans "Actions" %}</td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            {% set token_input = csrf_input() %}	
            {% for item in items %}
                <tr>
                    {% if item.published==0 %}
                        <td class="text-danger font-italic">{{ item.name }} {% trans %}(awaiting moderation){% endtrans %}</td>
                    {% else %}
                        <td>
                            {{ item.name }} 
                            <a href="{{ path('blog.show', {slug:item.slug, id:item.id}) }}" class="ml-2"><i class="fas fa-eye"></i></a>
                        </td>
                    {% endif %}
                    <td>
                        <a href="{{ path(routePrefix ~ '.edit', {id: item.id}) }}" class="btn btn-primary">{% trans "Edit" %}</a>
                        {{ token_input | raw  }}
                    </td>
                    <td>
                        <a href="{{ path('localization.translation', {id: item.id}) }}" class="btn btn-primary">{% trans "Translate" %}</a>
                        {{ token_input | raw  }}
                    </td>
                    <td>
                        <a href="{{ path('shop.rewards', {id: item.id}) }}" class="btn btn-primary {% if not current_user().stripeUserId %} disabled {% endif %}">
                            {% trans "Rewards" %}
                        </a>
                        {{ token_input | raw  }}
                    </td>
                    {% if item.published==1 %}
                        <td>
                            <a href="{{ path(routePrefix ~ '.features', {id: item.id}) }}" class="btn btn-primary">{% trans "Bricks" %}</a>
                            {{ token_input | raw  }}
                        </td>	
                        <td>
                            <a href="{{ path('bugs', {id: item.id}) }}" class="btn btn-primary">{% trans "Bugs" %}</a>
                            {{ token_input | raw  }}
                        </td>
                        <td>
                            <a href="{{ path('news', {id: item.id}) }}" class="btn btn-primary">{% trans "News" %}</a>
                            {{ token_input | raw  }}
                        </td>
                        <td>
                            <a href="{{ path('surveys', {id: item.id}) }}" class="btn btn-primary">{% trans "Surveys" %}</a>
                            {{ token_input | raw  }}
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
            {% for item in gamesFeaturesIds %}
                <tr>
                    {% set i= loop.index %}
                    <td>
                        {% for gamesFeaturesName in gamesFeaturesNames %}
                            {% if loop.index == i %}
                                {{ gamesFeaturesName }}
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                        <a href="{{ path(routePrefix ~ '.features', {id: item}) }}" class="btn btn-primary">{% trans "Bricks" %}</a>
                        {{ token_input | raw  }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {{ paginate(items, routePrefix ~ ".index") }}

{% endblock %}

