{% extends "@user/layout.twig" %}

{% block title %}
    {% trans %}Translate{% endtrans %}
{% endblock %}

{% block body %}

    {% set gameName = game.name %}
    <h2>{% trans %}Manage the translate of {{ gameName }}{% endtrans %}</h2>

    <table class="table table-striped">
        <thead>
            <tr>
                <td>{% trans "Title" %}</td>
                <td>{% trans "Langue" %}</td>
                <td>{% trans "Actions" %}</td>
            </tr>
        </thead>
        <tbody>
            {% set token_input = csrf_input() %}	
            {% for translation in translations %}
                <tr>
                    <td>
                        {{ translation.title }}
                    </td>
                    <td>
                        {{ translation.language }}
                    </td>
                    <td>
                        <a href="{{  path( 'localization.translation' ~ '.edit', {projectId:game.id, id:translation.id}) }}" class="btn btn-primary">{% trans "Edit" %}</a>
                    </td>
                    <td>
                        {% if translation.langcode == 'en' %}
                            <a href="{{ path('localization.translation' ~ '.create',  {projectId:game.id}) }}" class="btn btn-primary {% if nbLang == 0 %}disabled{% endif %}">
                                {% trans %}Add a translation{% endtrans %}
                            </a>
                        {% else %}
                            <button  class="btn btn-danger" data-toggle="modal" data-target="#confirmation[{{ translation.id }}]">{% trans "Delete" %}</button >
                            <div class="modal fade" id="confirmation[{{ translation.id }}]" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            {% set transTitle = translation.title %}
                                            {% set transLang = translation.language %}
                                            <h4 class="modal-title">{% trans %}Delete {{transTitle}} translation ({{ transLang }})?{% endtrans %}</h4>
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        </div>
                                        <div class="modal-body">
                                            <form style="display: inline;" action="{{  path('localization.translation' ~ '.delete', {projectId:game.id, id:translation.id}) }}" method="POST" >
                                                <input type="hidden" name="_method" value="DELETE">
                                                <button class="btn btn-danger">{% trans "Confirm" %}</button>
                                                {{ token_input | raw  }}
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <h2>{% trans %}Manage the bricks' translate{% endtrans %}</h2>

    <table class="table table-striped">
        <thead>
            <tr>
                <td>{% trans "Title" %}</td>
                <td>{% trans "Langue" %}</td>
                <td>{% trans "Actions" %}</td>
            </tr>
        </thead>
        <tbody>
            {% set token_input = csrf_input() %}	
            {% for feature in features %}
                <tr>
                    <td>
                        {{ feature.name }}
                    </td>
                    <td>
                        {{ feature.language }}
                    </td>
                    <td>
                        <a href="{{  path( 'localization.translation.feature' ~ '.edit', {projectId:game.id, featureId:feature.featureId, id:feature.id}) }}" class="btn btn-primary">{% trans "Edit" %}</a>
                    </td>
                    {% if feature.langcode != 'en' %}
                        <td>
                            <button  class="btn btn-danger" data-toggle="modal" data-target="#confirmation[{{ feature.id }}]">{% trans "Delete" %}</button >
                            <div class="modal fade" id="confirmation[{{ feature.id }}]" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            {% set featureTitle = feature.title %}
                                            {% set featureLanguage = feature.language %}
                                            <h4 class="modal-title">{% trans %}Delete {{featureTitle}} translation ({{ featureLanguage}})?{% endtrans %}</h4>
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        </div>
                                        <div class="modal-body">
                                            <form style="display: inline;" action="{{  path('localization.translation.feature' ~ '.delete', {projectId:game.id, featureId: feature.featureId, id:feature.id}) }}" method="POST" >
                                                <input type="hidden" name="_method" value="DELETE">
                                                <button class="btn btn-danger">{% trans "Confirm" %}</button>
                                                {{ token_input | raw  }}
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    {% else %}
                        <td>
                            <a href="{{ path('localization.translation.feature' ~ '.create',  {projectId:game.id, featureId:feature.featureId}) }}" class="btn btn-primary {% if langs[feature.featureId] == nbLangTot %}disabled{% endif %}">
                                {% trans %}Add a translation{% endtrans %}
                            </a>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>


{% endblock %}


